* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #292929;
	font-family: Arial, sans-serif;
}

.card {
	background: linear-gradient(135deg, #8686ff, #ff9e9e);
	width: 90%;
	max-width: 500px;
	margin: 100px auto;
	border-radius: 20px;
	text-align: center;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchBox {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.searchBox input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 35px;
	height: 60px;
	border-radius: 30px;
	flex: 1;
	margin-right: 20px;
	font-size: 18px;
}

.searchBox button {
	border: 0;
	outline: 0;
	background: #ebfffc;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchBox button img {
	width: 30%;
}

.weather-icon {
	width: 100%;
	max-width: 170px;
	margin-top: 30px;
}

.weather h1 {
	font-size: 80px;
	font-weight: 500;
}

.weather h2 {
	font-size: 45px;
	font-weight: 400;
	margin-top: -10px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	margin-top: 50px;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}

.col img {
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.humidity,
.windspeed {
	font-size: 28px;
}

.des {
	margin-top: -15px;
	font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.weather h1 {
		font-size: 60px;
	}

	.weather h2 {
		font-size: 35px;
	}

	.humidity,
	.windspeed {
		font-size: 24px;
	}
}

@media (max-width: 576px) {
	.card {
		padding: 20px;
	}

	.weather-icon {
		width: 100%;
		max-width: 150px;
	}

	.searchBox input {
		padding: 10px 20px;
		height: 50px;
		font-size: 16px;
	}

	.searchBox button {
		width: 60px;
		height: 60px;
	}

	.searchBox button img {
		width: 25%;
	}

	.weather h1 {
		font-size: 50px;
	}

	.weather h2 {
		font-size: 30px;
	}

	.details {
		flex-direction: column;
		padding: 0;
		margin-top: 30px;
	}

	.col {
		width: 100%;
		justify-content: center;
		margin-bottom: 20px;
	}

	.humidity,
	.windspeed {
		font-size: 20px;
	}
}
